<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "com.cmx.dao.ArticleDao" >
    <!--  查询所有文章  -->
    <select id = "findAllArticle" resultType= "com.cmx.entity.Article">
        select * from article
    </select>
</mapper>