<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "com.cmx.dao.UserDao" >

    <!--通过用户名和密码查询用户-->
    <select id="findUserByNameAndPassword" parameterType="com.cmx.entity.User" resultType="com.cmx.entity.User">
        select * from user where user_name = #{user_name} and password = #{password}
    </select>

    <!--通过用户名更新用户token-->
    <update id="updateUserTokenByName" parameterType="com.cmx.entity.User">
        update user set user_token = #{user_token} where user_name = #{user_name}
    </update>

    <!--通过token获取用户信息-->
    <select id="findUserByToken" parameterType="string" resultType="com.cmx.entity.User">
        select * from user where user_token = #{token}
    </select>

    <!--通过用户名清除token-->
    <update id="cleanUserTokenByName" parameterType="com.cmx.entity.User">
        update user set user_token = "" where user_name = #{user_name}
    </update>

    <!-- 通过用户名查询用户 -->
    <select id="findUserByName" parameterType="string" resultType="com.cmx.entity.User">
        select * from user where user_name = #{user_name}
    </select>

    <!-- 添加用户 -->
    <insert id="addUser" parameterType="com.cmx.entity.User">
        insert into user(user_name,password,user_icon) values (#{user_name},#{password},#{user_icon})
    </insert>

    <!-- 通过ID查找用户基本信息 -->
    <select id="findUserBaseById" parameterType="string" resultType="com.cmx.entity.User">
        select user_id,user_name,user_icon from user where user_id = #{user_id}
    </select>

    <!-- 通过token查询管理员权限 -->
    <select id="findAuthorityByToken" parameterType="string" resultType="int">
        select user_authority from user where user_token = #{user_token}
    </select>

</mapper>